*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#dialog {
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}
.dialog_fixed {
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

#notifPush {
    width: 385px;
    height: 60px;
    position: absolute;
    border-radius: 10px;
    left: 50%;
    top: 94%;
    transform: translate(-50%, -50%);
}