@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
#dialog {
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}
.dialog_fixed {
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

#notifPush {
    width: 385px;
    height: 60px;
    position: absolute;
    border-radius: 10px;
    left: 50%;
    top: 94%;
    transform: translate(-50%, -50%);
}